    es (21 sloc)  440 Bytes
    html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    body {
    background: linear-gradient(-45deg, #c4003a, #c61b31, #c72c28, #c10040, #c73a1e, #c64611, #c45200);
    animation: gradient 20s ease infinite;
    }
    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
    /** Link hover, icon animation (Pop-out and rotate) **/  
    li .fa-li {
    transition: 0.1s ease-out;
    }
    li:hover .fa-li {
    transform: scale(120%) rotate(-10deg);
    transition: all 0.1s;
    transition-timing-function: ease(1, 0.8, 0.5, 1);
    }
    li .omg-icon {
    transition: 0.1s ease-out;
    }
    li:hover .omg-icon {
    transform: scale(120%) rotate(-10deg);
    transition: all 0.1s;
    transition-timing-function: ease(1, 0.8, 0.5, 1);
    }
    h1#name a i.fa-badge-check, .omg-verified {
        color: var(--orange) !important; 
    }
    .fa-solid.fa-fw.fa-plug {
        color: var(--orange)
    }
    es (21 sloc)  440 Bytes
    html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
    body {
    background: linear-gradient(-45deg, #c4003a, #c61b31, #c72c28, #c10040, #c73a1e, #c64611, #c45200);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    }
    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }
    /** Link hover, icon animation (Pop-out and rotate) **/  
    li .fa-li {
    transition: 0.1s ease-out;
    }
    li:hover .fa-li {
    transform: scale(120%) rotate(-10deg);
    transition: all 0.1s;
    transition-timing-function: ease(1, 0.8, 0.5, 1);
    }
    li .omg-icon {
    transition: 0.1s ease-out;
    }
    li:hover .omg-icon {
    transform: scale(120%) rotate(-10deg);
    transition: all 0.1s;
    transition-timing-function: ease(1, 0.8, 0.5, 1);
    }
    h1#name a i.fa-badge-check, .omg-verified {
        color: var(--orange) !important; 
    }
    .fa-solid.fa-fw.fa-plug {
        color: var(--orange)
    }
    .fa-location-dot {
        color: var(--orange)
    }
    .fa-briefcase {
        color: var(--orange)
    }
    .fa-clock{
        color: var(--orange)
    }
    /* .fa-steam{
        color: #66c0f4
    }
    .fa-discord{
        color: #5865F2
    }
    /* background-size: 400% 400%; 
    main {
    max-width: 50em
    }
    */
